p{
    color:pink;
    text-transform: uppercase;
    background-color: skyblue;
    font-size: 50px;
}
.navbar div{
    width: 1440px;
    height: 45px;
    border: 1px soild red;
    background-color: rgb(238,238,238);
}
.navbar a{
    float: right;
    font-size: 20px;
    font-display: block; 
    text-decoration: none;
}
a{
    width: 100px;
}
.content{
    width: 92%;
    height: 800px;
    display: block;
    float: left;
    position: relative;
    border: 1px solid rgb(245, 244, 244);
    background-color: rgb(229, 231, 233);
    }
    .sidebabr{
    width: 7%;
    height: 800px;
    
    position: relative;
    float: left;
    /*text-align: center;*/
    border: 1px solid rgb(245, 244, 244);
    background-color: rgb(229, 231, 233);
    }
    button {
    width: 100px;
    height: 60px;
    color: blueviolet;
    }
    .content table {
    width: 100%;
    }
    table tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light grey */
    }
    table tr:nth-child(even) {
    background-color: #ffffff; /* White */
    }
